MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=agenti_db

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AGENT_MODEL_ID= #it is necessary that the model is ONDEMAND.. you can check it with this command: aws bedrock list-foundation-models --region **YOUR REGION**
ANALYSIS_METHOD= # docker or aws
AWS_REGION=us-central-1
